.presentation {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Texto principal con efecto de neón */
  h1 {
    font-size: 6rem;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    /* text-transform: uppercase; */
    margin: 0;
  }
  
  .text-blue {
    color: #00c3ff;
    /* font-style: italic; */
    text-shadow: 0 0 10px #00c3ff, 0 0 20px #00c3ff, 0 0 30px #00c3ff, 0 0 40px #00c3ff;
  }
  
  .text-orange {
    color: #ff9900;
    font-style: italic;
    text-shadow: 0 0 10px #ff9900, 0 0 20px #ff9900, 0 0 30px #ff9900, 0 0 40px #ff9900;
  }
  
  /* Reflejo del texto */
  .reflection {
    transform: scaleY(-1);
    opacity: 0.3;
    margin-top: 10px;
    background: linear-gradient(transparent, rgba(26, 26, 26, 0.8));
    /* -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent); */
    /* mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent); */
  }
  
  /* Efecto parpadeo para "MdP" */
  .flicker {
    animation: flicker 6s infinite;
  }
  
  @keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      opacity: 1;
      text-shadow: 0 0 10px #ff9900, 0 0 20px #ff9900, 0 0 30px #ff9900, 0 0 40px #ff9900;
    }
    20%, 24%, 55% {
      opacity: 0.5;
      text-shadow: none;
    }
  }
  